<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<h1 class="title">Books</h1>
<table>
  <tr class="table-title">
    <td><strong>Title</strong></td>
    <td><strong>Body</strong></td>  
  </tr>
    <% @books.each do |b| %>
      <tr>
        <td><%= b.title %></td>
        <td><%= b.body %></td>
        <td><%= link_to "Show", book_path(b) %></td>
        <td><%= link_to "Edit", edit_book_path(b) %></td>
        <td><%= link_to "Destroy", book_path(b), method: :delete, data:{confirm:"Are you sure?"} %></td>
      </tr> 
    <% end %>
  
</table>

<h2 class="title">New book</h1>

<% if @book.errors.any? %>
  <%= @book.errors.count %> errors prohibited this book from being saved:
  <ul class="error-message">
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model:@book, local:true do |f| %>
  <p>Title</p>
  <%= f.text_field:title %>
  <p>Body</p>
  <%= f.text_area:body %>
  <div>
    <%= f.submit "Create Book" %>  
  </div>
  
<% end %>